@import '~bootstrap/scss/bootstrap';
@import '../fonts/fonts';

:root {
  --my-theme-font-serif:'Arvo', serif;
  --my-theme-font-sans:'Titillium Web', sans-serif;
}

body {
    background: rgb(88, 188, 34);
    font-family: var(--my-theme-font-serif);
    p {
      color: red;
    }
    .container{
      background: url('../img/default.png');
    }
  }
